# Gradle
.gradle/
build/
app/build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Apk files
app/release/*.apk
app/release/baselineProfiles/
app/release/output-metadata.json